body {
  background-image: linear-gradient(to right, #ef9e36, #41445d);
}
.icons {
  height: 7vh !important;
  width: 6% !important;
  background-image: linear-gradient(to right, #d54a19, #f6a037) !important;
  border-radius: 100% !important;
  padding: 9px !important;
  margin: 0px 4px !important;
}
:focus-visible {
  outline: none !important;
}
.card {
  background-color: #1a1c35 !important;
}
.input-feild {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: bolder;
}
.btn {
  background-image: linear-gradient(to right, #d54a19, #f6a037);
  border: 0;
  border-radius: 0;
  color: white;
  font-weight: bolder;
}
li {
  color: white;
  font-weight: bolder;
  border-bottom: 1px solid;
}
h1 {
  font-weight: bolder;
  color: #f6a037;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .icons {
    height: 7vh !important;
    width: 17% !important;
    background-image: linear-gradient(to right, #d54a19, #f6a037) !important;
    border-radius: 100% !important;
    padding: 4px !important;
    margin: 0px 4px !important;
  }
}
